@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Nunito+Sans:opsz@6..12&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
:root {
    --bgclr: #27374D;
    --white: #ffffff;
    --logo: #ED2B2A;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track{
    background-color:transparent;
    
}
::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background: #e14747;
    /* background: linear-gradient(180deg, #415A80 0%, #C9CBCE 99%); */
}
::-webkit-scrollbar{
    width: 7px;
}

body{
    background-color: var(--bgclr);
    overflow-x:hidden ;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 100;
    
    
    justify-content: space-between;
}
.logo.scrolled{
    color: var(--white);
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    transition: 0.5s;
}
.logo{
    font-size: 32px;
    color: var(--logo);
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

.navbar{
    width: auto;
    
}
.navbar ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}
.navbar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li a{
    position: relative;
    font-size: 18px;
    color: var(--logo);
    font-weight: 600;
    text-decoration: none;
}
.navbar.scrolled ul li a{
    color: var(--white);
    transition: 0.5s;
}
.navbar ul li a:before{
    content: '';
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--logo);
}

.navbar ul li a:hover::before {
    width: 100%;
    transition: 0.2s;
}
/* change color */
.navbar.scrolled ul li a:before{
    content: '';
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white);
}

.navbar.scrolled ul li a:hover::before {
    width: 100%;
    transition: 0.2s;
}

#check{
    display: none;
}
.btnbar{
    display: none;
    position: relative;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
.btnbar span{
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--logo);
    border-radius: 4px;
    transition: 0.5s;
}
.btnbar.scrolled span{
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--white);
    border-radius: 4px;
    transition: 0.5s;
}
.btnbar span:nth-child(1){
    transform: translateY(-15px);
    width: 25px;
    left: 15px;
}

.btnbar span:nth-child(2){
    transform: translateY(15px);
    width: 15px;
    left: 15px;
}

/* ------------------Main----------------- */



main{
    width: 100%;
    padding: 0px;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--white);
}

/* ----------------section -----------------*/

section{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 100%;
    justify-content: center;
    margin-bottom: 100px;
}
section h1{
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-size: 7em;
    color: #27374D;
    font-family: Neue Montreal, sans-serif;
}
.sub-cate{
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* display: flex;
    flex-direction: row; */
    justify-content: center;
    margin-top: 100px;
}

.sub-cate-title{
    background-color:var(--clr);
    color: #fff;
    border-radius: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 8px;
}
.sub-cate-title h2{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-family: Neue Montreal, sans-serif;
}
.sub-cate-title p{
    margin-top:20px ;
    text-align:center;
    width: 100%;
    height: auto;
}

.sub-cate-box{
    display: flex;
    justify-content: space-around;
}



.sub-cate.second{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
    justify-content: center;
    margin-top: 100px;
}
.sub-cate-box.second{
    grid-area: 1/1/2/2;
}
.sub-cate-title.second{
    grid-area: 1/2/2/3;
}

/* --------------each card -------------*/
.card{
    display: flex;
    position: relative;
    width: 300px;
    height: 380px;
    background: #27374D;
    box-shadow: 0 15px 45px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.card:hover{
    width: 600px;
}

.card .imgBx{
    position: relative;
    min-width:300px;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}
.card .imgBx img{
    max-width: 250px;
    transition: 0.5s ease-in-out;
}
.card:hover .imgBx img{
    transform: translateX(-20px);
}
.card .details{
    position: absolute;
    left: 0;
    min-width: 300px;
    height: 100%;
    background-color: var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    z-index: 1;
    transition: 0.5s ease-in-out;
}
.card:hover .details{
    left: 300px;
}

.card .details::before{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 10px solid transparent ;
}
.card .details h3{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em;
}
.card .details p{
    margin: 20px 0;
    color: #fff;
    opacity: 0.85;
    font-size: 0.8em;
}
.card .details .group{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.card .details .group h2{
    color: #fff;
    font-weight: 600;
    font-size: 2em;
}
.card .details .group h2 sup{
    font-weight: 300;
}
.card .details .group h2 small{
    font-size: 0.75em;
}
.card .details .group a{
    display: inline-flex;
    padding: 10px 25px;
    background:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--clr);
}



.up-btn{
    width: 100%;
    height: 40px;
    background:#354864;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.up-btn:hover{
    scale: 1.2;
    box-shadow: 0 1px 6px black;
}
.up-btn:active{
    scale: 1;
}
.up-btn h3{
    color: white;
    height: fit-content;
    width: fit-content;
    font-weight: 400;
}

/* ----------------Footer -----------------*/
footer{
    overflow-x: hidden;
    width: 100vw;
    height: 500px;
    background-color: var(--bgclr);
    display: grid;
    /* grid-template-columns: 2fr 1.2fr 1fr 1.5fr; */
    grid-template-columns:repeat(auto-fit,minmax(250px,1.5fr)) ;
    align-items: center;
    justify-content: center;
}

.sublogo{
    font-size: 3em;
    color: var(--logo);
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}
.general-info{
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-size: 17px;
}
.general-info p{
    color: white;
    width: 100%;
}
.social-media .fa-brands{
    color: white;
    font-size: 2em;
    cursor: pointer;
}
.social-media {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    margin-top: 20px ;
}
.contact{
    margin: 40px;
}
.contact h3{
    width: 100%;
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.contact ul{
    text-align: center;
    margin-top: 30px;
    
}
.contact ul li a{
    word-spacing: 2px;
    color: white;
    cursor: pointer;
}
.contact ul li a:hover{
    text-decoration: underline;
}
.mail{
    display: flex;
    margin: 10px 20px;
    justify-content: center;
}
.mail input{
    padding: 5px;
    width: 200px;
}
.mail .fa-solid{
    box-shadow: 1px 1px 2px black;
    background-color:#e14747;
    color:white;
    font-size: 30px;
    padding: 2px;
    cursor: pointer;
}

.mail .fa-solid:hover{
    scale: 1.2;
}
.mail .fa-solid:active{
    scale: 1;
}



/* Responsive design */
@media (max-width:992px){
    
    .header{
        padding: 20px 40px;
    }
    
    
    .logo.scrolled{
        color: var(--white);
        font-size: 32px;
        text-transform: uppercase;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
    }
    .btnbar{
        display: flex;
    }
    .btnbar.active span:nth-child(1){
        width: 40px;
        transform: translateY(0px) rotate(45deg);
        transition-delay:0.125s;
    }
    .btnbar.active span:nth-child(2){
        width: 40px;
        transform: translateY(0px) rotate(315deg);
        transition-delay:0.25s;
    }
    .btnbar.active span:nth-child(3){
        transform: translateX(60px);
    }
    .navbar ul{
        display:block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(0deg, rgba(255, 255, 255,0.7) 0%, rgba(255, 255, 255, 0) 80%);

        opacity: 0.9;
        backdrop-filter:blur(20px);
        top: 120px;
        text-align: center;
        left: -100%;
        
        transition: 0.5s all ease;
    }
    .navbar ul li{
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar ul li a{
        font-size: 25px;
    }
    #check:checked ~ ul{
        left: 0;
    } 
   
    
    main{
        overflow-x: hidden;
    }
    
    .sub-cate{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        /* display: flex;
        flex-direction: row; */
        justify-content: center;
        margin-top: 100px;
    }
    .sub-cate-title{
      padding: 0;
      margin: 0;  
      border-radius: 0;   
       
    }
    .sub-cate-title P{
        width: 80%;
    }
    .sub-cate-box{
        
        width: 1200px;

    }
    .sub-cate.second{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        justify-content: center;
        margin-top: 100px;
    }
    .sub-cate-box.second{
        grid-area: 1/2/2/3;
    }
    .sub-cate-title.second{
        
        grid-area: 1/1/2/2;
    }

    footer{
        height: auto;
        grid-template-columns: repeat(minmax(600px,1fr));
    }

}

@media screen and (max-width:768px){
    main{
        overflow-x: hidden;
    }
    .sub-cate.second{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        margin-top: 100px;
    }
    section h1{
        width: 100%;
        font-size: 5em;
    }
    .social-media {
        margin: 20px;
    }
}